@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /* border: 1px solid red; */

}

header {
    position: sticky;
    top: 0;
    /* padding: 10px; */
    /* background-color: #303134; */
}

.navbar {
    display: flex;
    align-items: center;
    max-width: 100%;

}

.nav-list {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.logo img {
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-list li :hover {
    font-size: 19px;
    color: wheat;
}

.rightNav {
    width: 50%;
    text-align: right;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid white;
    border-radius: 5px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 70%;
}

.firstHalf {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondHalf {
    width: 30%;
}

.secondHalf img {
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big {
    font-size: 35px;
}

.text-small {
    font-size: 18px;
}

.btn {
    padding: 5px 20px;
    margin: 9px 0px;
    margin-right: 15px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
    background: none;
    color: white;
    cursor: pointer;
    font-weight: 200;
    font-family: 'Ubuntu', sans-serif;
}

.btn-sm {
    padding: 3px 3px;
    margin: -8px 6px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.section {
    height: 33vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80vw;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

.section-left {
    flex-direction: row-reverse;
}

.sectionTag {
    padding: 16px 0;
}

.paras {

    text-align: left;
    padding: 10px 35px;
}

.thumbnail img {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
}

#contact {
    background-color: #f6f5e6;
    max-height: 90vh;

}

.text-formation {
    font-family: 'Ubuntu', sans-serif;
    padding-top: 10px;
    text-align: center;
    font-size: 34px;
}

.form {
    margin-top: 25px;
    max-width: 1000px;
    max-height: 1000px;
    margin: auto;
}

.btn-dark {
    color: black;
    border: 2px solid grey;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}

.text-input {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: fit-content;
    margin: 14px 2px;
    padding: 10px 12px;
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 6px;
}

.text-footer {
    font-family: 'Ubuntu', sans-serif;
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    color: white;
}

.burger {
    display: none;
    position: absolute;
    top: 8px;
    right: 5px;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

@media screen and (max-width:1100px) {
    .header {
        position: none;
    }

    .nav-list {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        height: 300px;
        transition: all 0.7s ease-out;
    }

    .rightNav {
        text-align: center;
        width: 100%;
    }

    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 62px;
        pointer-events: none;
    }

    .v-class-resp {
        pointer-events: none;
        opacity: 0;
    }

    .li-nav {
        padding: 10px;
    }

    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .secondHalf {
        width: 50%;
    }

    .logo img {
        width: 30px;
        height: 30px;
        border: 2px solid white;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 20px;
    }

    .section {
        flex-direction: column;
        height: 100%;
    }

    .form {
        max-width: 60%;
        height: 100%;
    }

    .text-big {
        text-align: center;
    }

    .thumbnail img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .paras {
        padding: 0px;
        margin: 20px 0px;
    }

}